<div class="full-screen page-content">
  <div class="wrapper">
    <img src="./assets/img/logo.png" class="logo-img">
    <div class="text-wrapper">
      <h1 class="title-text">
        Today
      </h1>
    </div>
    <input nz-input
           placeholder="请输入用户名"
           #usernameInput
           [(ngModel)]="username"
           type="text">
    <button nz-button
            [nzType]="'primary'"
            (click)="completeSetup()"
            [disabled]="!usernameInput.value">
      开始
    </button>
    <div class="copy-right">
      Copyright © 2019 Jian Wang
    </div>
  </div>
</div>
